<div class="bg-white">
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando Detalle de factura
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
    </div>
  </div>

  <div class="container-fluid" *ngIf="!isLoad">
    <div class="row">
      <div class="col-md-12 d-flex">
        <button class="mt-3 btn btn-primary mr-3" (click)="descargarPDF()">
          <i class="fas fa-file-download fa-lg"></i> Descargar
        </button>
        <div *ngIf="!isLoadtazaMonto">
          <button
            *ngIf="existTaza"
            class="mt-3 btn btn-primary mr-3"
            (click)="openModal(contentEditarTaza)"
          >
            <i class="fas fa-pencil-alt"></i> Editar Cotización
          </button>
          <button
            *ngIf="!existTaza && isAdmin"
            
            class="mt-3 btn btn-primary mr-3"
            (click)="openModal(contentEditarTaza)"
          >
            <i class="fas fa-pencil-alt"></i> Agregar Cotización
          </button>
        </div>
        <button
          *ngIf="Factura.despachado == 1"
          class="mt-3 btn btn-primary"
          (click)="despachar(Factura.id)"
        >
          Marcar como no despachado
        </button>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-md-6 detalle-section">
        <div class="detalle-container">
          <h4>Detalles de cliente</h4>
          <div class="detalle">
            <div class="description">
              <span>Nombre completo</span>
            </div>
            <div class="value">
              <span>{{ Factura.cliente.nombreCompleto }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Nombre salon</span>
            </div>
            <div class="value">
              <span>{{ Factura.cliente.nombreEmpresa }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Cedula</span>
            </div>
            <div class="value">
              <span>{{ Factura.cliente.cedula }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Dirección</span>
            </div>
            <div class="value">
              <span
                >{{ Factura.cliente?.departamento?.nombre | capitalize }} -
                {{ Factura.cliente?.municipio?.nombre | capitalize }} -
                {{ Factura.cliente.direccion_casa }}</span
              >
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Dirección salon</span>
            </div>
            <div class="value">
              <span
                >{{ Factura.cliente?.departamento?.nombre | capitalize }} -
                {{ Factura.cliente?.municipio?.nombre | capitalize }} -
                {{ Factura.cliente.direccion_negocio }}</span
              >
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Teléfono</span>
            </div>
            <div class="value">
              <span>{{ Factura.cliente.celular }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Teléfono salón</span>
            </div>
            <div class="value">
              <span>{{ Factura.cliente.telefono }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 detalle-section">
        <div class="detalle-container">
          <h4>Detalle factura</h4>
          <div class="detalle">
            <div class="description">
              <span>factura</span>
            </div>
            <div class="value">
              <span>#{{ Factura.id }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Fecha</span>
            </div>
            <div class="value">
              <span>{{ Factura.created_at | date : "dd-MM-yyyy" }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Fecha vencimiento</span>
            </div>
            <div class="value">
              <span>{{ Factura.fecha_vencimiento | date : "dd-MM-yyyy" }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Estado</span>
            </div>
            <div class="value">
              <span *ngIf="Factura.status_pagado == 0">En proceso</span>
              <span *ngIf="Factura.status_pagado == 1">Finalizado</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Vendedor</span>
            </div>
            <div class="value">
              {{ Factura.user.name }} {{ Factura.user.apellido }}
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Tipo Operacion</span>
            </div>
            <div class="value">
              <span>{{ Factura.tipo_venta == 1 ? "Credito" : "Contado" }}</span>
            </div>
          </div>
          <div class="detalle">
            <div class="description">
              <span>Cotización</span>
            </div>
            <div class="value">
              <span>{{ tazaMonto }} C$</span>
            </div>
          </div>
          <!-- <div class="detalle" *ngIf="Factura.tipo_venta == 1">
                        <div class="description">
                            <span>Historial de pago</span>
                        </div>
                        <div class="value">
                            <a class="mostrar_modal" role="button" (click)="open(content)" >Mostrar</a>
                        </div>
                    </div> -->
        </div>
      </div>
    </div>

    <div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
      <table class="table table-hover">
        <thead class="border-bottom border-1">
          <tr>
            <th scope="col">Descripcion</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio X Unidad</th>
            <th scope="col">Precio</th>
            <th *ngIf="isAdmin" scope="col">Devolver</th>
            <th *ngIf="isAdmin" scope="col">Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of Factura.factura_detalle">
            <td>{{ producto.descripcion }}</td>
            <td>
              <span *ngIf="producto.cantidad > 1"
                >{{ producto.cantidad }} Uds</span
              >
              <span *ngIf="producto.cantidad == 1"
                >{{ producto.cantidad }} Ud</span
              >
            </td>
            <td>{{ producto.precio_unidad | currency : "USD" }}</td>
            <td>{{ producto.precio | currency : "USD" }}</td>
            <td>
              <span
                class="texto-precio"
                *ngIf="isAdmin"
                role="button"
                (click)="openDevolverProducto(contentDevolver, producto)"
                ><i class="fas fa-undo"></i
              ></span>
            </td>
            <td>
              <span
                class="texto-precio"
                *ngIf="isAdmin"
                role="button"
                (click)="openEditFactura(contentEditar, producto)"
                ><i class="fas fa-pencil-alt text-warning"></i
              ></span>
            </td>
          </tr>
          <tr *ngFor="let regalo of Regalos">
            <td>{{ regalo.detalle_regalo.descripcion }}</td>
            <td>
              <span *ngIf="regalo.cantidad_regalada > 1"
                >{{ regalo.cantidad_regalada }} Uds</span
              >
              <span *ngIf="regalo.cantidad_regalada == 1"
                >{{ regalo.cantidad_regalada }} Ud</span
              >
            </td>

            <td colspan="4">
              <span class="texto-precio" *ngIf="isAdmin" role="button"
                ><i class="fas fa-gift fa-lg text-danger"></i> Regalo</span
              >
            </td>
          </tr>
        </tbody>
        <tfoot class="border border-1">
          <tr
            *ngIf="Factura.tipo_venta == 1"
            class="background-color-important border-bottom border-1"
          >
            <td [attr.colspan]="isAdmin ? 5 : 3">Abonado</td>
            <td>
              <b>{{
                Factura.monto - Factura.saldo_restante | currency : "USD"
              }}</b>
            </td>
          </tr>
          <tr
            *ngIf="Factura.tipo_venta == 1"
            class="background-color-important border-bottom border-1"
          >
            <td [attr.colspan]="isAdmin ? 5 : 3">Por Abonar</td>
            <td>
              <b>{{ Factura.saldo_restante | currency : "USD" }}</b>
            </td>
          </tr>
          <tr class="background-color-important">
            <td [attr.colspan]="isAdmin ? 5 : 3">Total</td>
            <td>
              <b>{{ Factura.monto | currency : "USD" }}</b>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title" id="modal-basic-title">Historial de pago</h4>
      <h5>
        <small>Factura #{{ FacturaId }} </small>
      </h5>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="list-group">
      <div
        class="list-group-item list-group-item-action flex-column align-items-star position-relative"
        role="button"
        *ngFor="
          let itemHistorial of Factura.cliente.factura_historial;
          let i = index
        "
        (click)="Collaps(i)"
      >
        <div
          class="d-flex w-100 justify-content-between align-items-center"
          type="button"
        >
          <div>
            <small
              >Fecha:
              {{ itemHistorial.updated_at | date : "dd-MM-yyyy" }}</small
            >
            <p class="mb-1"><b>Pagó</b></p>
            <a
              [routerLink]="['/abono', 'editar', itemHistorial.id]"
              target="_blank"
              >Ver Pago</a
            >
          </div>
          <div>
            <span
              ><b>{{ itemHistorial.precio | currency : "USD" }}</b></span
            >
          </div>
        </div>
        <div
          *ngIf="i === expandedIndex"
          class="animate__animated animate__pulse"
        >
          <div class="card">
            <div class="card-body">
              Usuario: {{ itemHistorial.name }} {{ itemHistorial.apellido }}
            </div>
          </div>
        </div>
      </div>

      <div
        class="list-group-item list-group-item-action flex-column align-items-star position-relative"
      >
        <div class="d-flex w-100 justify-content-between align-items-center">
          <div>
            <p class="mb-1"><b>Total pagado</b></p>
          </div>
          <div>
            <span
              ><b>{{ Pagado | currency : "USD" }}</b></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Aceptar
    </button>
  </div>
</ng-template>

<ng-template #contentEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title" id="modal-basic-title">
        Modificar producto facturado
      </h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-factura-editar-form
      [producto]="ProductoDetalle"
      (FormsValues)="FormsValues($event)"
    ></app-factura-editar-form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Aceptar</button>
</div> -->
</ng-template>

<ng-template #contentDevolver let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title" id="modal-basic-title">
        Devolver producto facturado
      </h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-devolucion-producto-form
      [producto]="ProductoDetalle"
      (FormsValues)="FormsValuesDevolucion($event)"
    ></app-devolucion-producto-form>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Aceptar</button>
</div> -->
</ng-template>

<ng-template #contentEditarTaza let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <p class="font-weight-bold">Taza de factura actual</p>
        <div class="input-group">
          <span class="input-group-text">1$ =</span>
          <input
            type="text"
            class="form-control text-right"
            [(ngModel)]="tazaMonto"
            appOnlyNumberAndPoint
            appBlockCopyPaste
          />
          <span class="input-group-text">C$</span>
        </div>
        <div class="form-group"></div>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button
          *ngIf="existTaza"
          class="btn btn-primary"
          (click)="actualizarTaza()"
        >
          Actualizar
        </button>
        <button
          *ngIf="!existTaza"
          class="btn btn-primary"
          (click)="agregarTaza()"
        >
          Agregar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #condicionRegalo let-producto>
  <tr>
    <td>{{ producto.descripcion }}</td>
    <td>
      <span *ngIf="producto.cantidad > 1">{{ producto.cantidad }} Uds</span>
      <span *ngIf="producto.cantidad == 1">{{ producto.cantidad }} Ud</span>
    </td>
    <td>{{ producto.precio_unidad | currency : "USD" }}</td>
    <td>{{ producto.precio | currency : "USD" }}</td>
    <td>
      <span
        class="texto-precio"
        *ngIf="isAdmin"
        role="button"
        (click)="openDevolverProducto(contentDevolver, producto)"
        ><i class="fas fa-undo"></i
      ></span>
    </td>
    <td>
      <span
        class="texto-precio"
        *ngIf="isAdmin"
        role="button"
        (click)="openEditFactura(contentEditar, producto)"
        ><i class="fas fa-pencil-alt text-warning"></i
      ></span>
    </td>
  </tr>
</ng-template>
