<div class="row justify-content-center align-items-center login-center">
    <div class="col-md-4 ">
        <div class="card card-user">
            <div class="card-header text-center">
                <h5 class="card-title font-weight-bold">Login</h5>
            </div>
            <div class="card-body px-5 pb-4">
                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                <label for="inputEmail">Email</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12 ">
                            <div class="form-label-group">
                                <input type="password" id="inputpass" class="form-control" placeholder="Contraseña" required autofocus>
                                <label for="inputpass">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary btn-block" type="submit">Acceder</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

