<!-- <span class="text-info"col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6
  >Nota: Los campos con <span class="text-danger">(*)</span> son
  obligatorios.</span
> -->
<br />
<div [formGroup]="FormInversion">
  <div
    class="container-fluid"
    *ngFor="
      let inversion of getControlFormArray();
      index as i;
      first as isFirst;
      last as isLast
    "
    formArrayName="inversion"
  >
    <hr *ngIf="!isFirst" class="mt-3 mb-3" />
    <form [formGroupName]="i" class="row">
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Codigo </label>
          <input
            type="text"
            class="form-control"
            name="codigo"
            formControlName="codigo"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                getControlArray('codigo', i).invalid &&
                getControlArray('codigo', i).touched,
              'is-valid': getControlArray('codigo', i).valid
            }"
          />
          <!-- <div *ngIf="getControlErrorsArray('codigo', i) as error">
            <app-valid-error-messages-form
              [errors]="error"
              [messages]="InversionErrorMessages.codigo"
            ></app-valid-error-messages-form>
          </div> -->
        </div>
      </div>
      <div class="col-md-3 col-input">
        <div class="form-group">
          <label>Producto </label>
          <input
            type="text"
            class="form-control"
            name="producto"
            formControlName="producto"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                getControlArray('producto', i).invalid &&
                getControlArray('producto', i).touched,
              'is-valid': getControlArray('producto', i).valid
            }"
          />
          <!-- <div *ngIf="getControlErrorsArray('producto', i) as error">
            <app-valid-error-messages-form
              [errors]="error"
              [messages]="InversionErrorMessages.producto"
            ></app-valid-error-messages-form>
          </div> -->
        </div>
      </div>
      <div class="col-md-3 col-input">
        <div class="form-group">
          <label>Marca </label>
          <input
            type="text"
            class="form-control"
            name="marca"
            formControlName="marca"
            autocomplete="off"
            [ngClass]="{
              'is-invalid':
                getControlArray('marca', i).invalid &&
                getControlArray('marca', i).touched,
              'is-valid': getControlArray('marca', i).valid
            }"
          />
          <!-- <div *ngIf="getControlErrorsArray('marca', i) as error">
            <app-valid-error-messages-form
              [errors]="error"
              [messages]="InversionErrorMessages.marca"
            ></app-valid-error-messages-form>
          </div> -->
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Cantidad </label>
          <input
            type="text"
            class="form-control"
            name="cantidad"
            formControlName="cantidad"
            autocomplete="off"
            (keyup)="validateProductInversion($event, i)"
            appOnlyNumbers
            [ngClass]="{
              'is-invalid':
                getControlArray('cantidad', i).invalid &&
                getControlArray('cantidad', i).touched,
              'is-valid': getControlArray('cantidad', i).valid
            }"
          />
          <!-- <div *ngIf="getControlErrorsArray('cantidad', i) as error">
            <app-valid-error-messages-form
              [errors]="error"
              [messages]="InversionErrorMessages.cantidad"
            ></app-valid-error-messages-form>
          </div> -->
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Precio Unitario</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="precio_unitario"
              formControlName="precio_unitario"
              autocomplete="off"
              (keyup)="validateProductInversion($event, i)"
              appOnlyNumbers
              [ngClass]="{
                'is-invalid':
                  getControlArray('precio_unitario', i).invalid &&
                  getControlArray('precio_unitario', i).touched,
                'is-valid': getControlArray('precio_unitario', i).valid
              }"
            />
            <!-- <div *ngIf="getControlErrorsArray('precio_unitario', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.precio_unitario"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Costo</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="costo"
              formControlName="costo"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('costo', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.costo"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Peso Porcentual</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">%</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="peso_porcentual"
              formControlName="peso_porcentual"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('peso_porcentual', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.peso_porcentual"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Peso Aboluto</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="peso_absoluto"
              formControlName="peso_absoluto"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('peso_absoluto', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.peso_absoluto"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>C/U Distribuido </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="c_u_distribuido"
              formControlName="c_u_distribuido"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('c_u_distribuido', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.c_u_distribuido"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Costo Total </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="costo_total"
              formControlName="costo_total"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('costo_total', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.costo_total"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Subida de ganancia </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="subida_ganancia"
              formControlName="subida_ganancia"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('subida_ganancia', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.subida_ganancia"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Precio de venta </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="precio_venta"
              formControlName="precio_venta"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('precio_venta', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.precio_venta"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Margen de ganancia </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">%</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="margen_ganancia"
              formControlName="margen_ganancia"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('margen_ganancia', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.margen_ganancia"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Venta </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="venta"
              formControlName="venta"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('venta', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.venta"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Venta total </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="venta_total"
              formControlName="venta_total"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('venta_total', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.venta_total"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Costo real </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="costo_real"
              formControlName="costo_real"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('costo_real', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.costo_real"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Ganancia Bruta </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="ganancia_bruta"
              formControlName="ganancia_bruta"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('ganancia_bruta', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.ganancia_bruta"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <label>Comision vendedor </label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            <input
              type="text"
              class="form-control"
              name="comision_vendedor"
              formControlName="comision_vendedor"
              autocomplete="off"
              [readonly]="readOnlyInputsForCalculation"
            />
            <!-- <div *ngIf="getControlErrorsArray('comision_vendedor', i) as error">
              <app-valid-error-messages-form
                [errors]="error"
                [messages]="InversionErrorMessages.comision_vendedor"
              ></app-valid-error-messages-form>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col-xl-2 col-lg-2 xs col-md-2 col-sm-6 col-xs-6 col-input">
        <div class="form-group">
          <button class="btn btn-danger">
            <i class="far fa-trash-alt" style="font-size: 1rem"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr class="mt-4 mb-4" />
<div class="row">
  <div class="col-md-12">
    <h6 class="h6 pointer text-disabled" (click)="addRowItem()">
      <i class="fas fa-plus"></i> Agregar Producto
    </h6>
  </div>
</div>
<div class="row">
  <div class="update ml-auto mr-auto">
    <button
      type="submit"
      class="btn btn-primary btn-round"
      [disabled]="true"
      (click)="EnviarFormulario()"
    >
      <div *ngIf="Id">Actualizar</div>
      <div *ngIf="!Id">Agregar</div>
    </button>
  </div>
</div>
<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="invalid-feedback">
      {{ message }}
    </div>
  </ng-container>
</ng-template>

<div [hidden]="!loadInfo" class="container-fluid p-5">
  <div class="d-flex justify-content-center align-content-center">
    <span>
      Cargando categoria
      <i class="fas fa-circle-notch fa-spin"></i>
    </span>
  </div>
</div>
