<div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
  <table class="table table-hover">
    <thead class="border-bottom border-1">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Fecha de vencimiento</th>
        <th scope="col">Total</th>
        <th scope="col">Abonos</th>
        <th scope="col">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Factura of _TablasService.datosTablaStorage">
        <td>PED-{{ Factura.id }}</td>
        <td>{{ Factura.fecha_vencimiento | date : "dd-MM-yyyy" }}</td>
        <td>{{ Factura.monto | currency : "USD" }}</td>
        <td>{{ Factura.monto - Factura.saldo_restante  | currency : "USD" }}</td>
        <td>{{ Factura.saldo_restante | currency : "USD" }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
    [collectionSize]="_TablasService.total"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refreshCountries()"
  ></ngb-pagination>
  </div>
</div>