<form [formGroup]="editarUsuarioForm" [hidden]="loadInfo" class="container-fluid">
    <span class="text-info">Nota: Los campos con <span class="text-danger">(*)</span> son obligatorios.</span>
    <br>
    <br>
    <br>
    <div class="row">

      <div class="col-md-12" >
        <div class="form-group">
            <label>Contraseña <span class="text-danger">(*)</span></label>
            <input
              type="password"
              class="form-control"
              name="password"
              formControlName="password"
              autocomplete="off"
              [ngClass]="{
                'is-invalid': editarUsuarioForm.controls['password'].invalid && editarUsuarioForm.controls['password'].touched,
                'is-valid': editarUsuarioForm.controls['password'].valid
              }"
            >
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'La contraseña debe poseer al menos 8 letras',
                control: editarUsuarioForm.controls['password']
              }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'La contraseña es requerida',
              control: editarUsuarioForm.controls['password']
            }"></ng-container>
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'La contraseña debe tener como máximo 12 caracteres',
              control: editarUsuarioForm.controls['password']
            }"></ng-container>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
            <label>Confirmar contraseña <span class="text-danger">(*)</span></label>
            <input
              type="password"
              class="form-control"
              name="password_confirmation"
              formControlName="password_confirmation"
              autocomplete="off"
              [ngClass]="{
                'is-invalid': editarUsuarioForm.controls['password_confirmation'].invalid && editarUsuarioForm.controls['password_confirmation'].touched,
                'is-valid': editarUsuarioForm.controls['password_confirmation'].valid
              }"
            >
            <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'required',
                message: 'La contraseña es requerida',
                control: editarUsuarioForm.controls['password_confirmation']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'minlength',
                message: 'El contraseña debe poseer al menos 8 letras',
                control: editarUsuarioForm.controls['password_confirmation']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'maxlength',
                message: 'La contraseña debe tener como máximo 12 caracteres',
                control: editarUsuarioForm.controls['password_confirmation']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                validation: 'ConfirmPassword',
                message: 'Las contraaseñas no coinciden',
                control: editarUsuarioForm.controls['password_confirmation']
              }"></ng-container>
        </div>
      </div>
  
    </div>
    <div class="row">
        <div class="update ml-auto mr-auto">
            <button  
              type="submit"
              class="btn btn-primary btn-round"
              (click)="EnviarFormulario()"
            >
              <div >Actualizar</div>
            </button>
        </div>
    </div>
    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="invalid-feedback">
          {{ message }}
        </div>
      </ng-container>
    </ng-template>
  </form>
  
  
   
  <div  [hidden]="!loadInfo" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando Usuario
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
      
    </div>
  </div>