<div class="bg-white">
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando Usuarios
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
    </div>
  </div>

  <ng-container *ngIf="!isLoad">
    <div class="card-header border-0 pt-4 bg-white">
      <a class="btn btn-primary" routerLink="/usuario/agregar">
        <i class="fas fa-plus"></i>
        Agregar
      </a>
      <div class="d-flex flex-row justify-content-between mt-3">
        <div class="card-title align-items-start flex-column">
          <span class="d-block fuvi-text-green card-label fw-bolder fs-3 mb-1"
            >Usuarios</span
          >
          <span class="fuvi-text-black mt-1 fw-bold fs-5"
            >Total: {{ _TablasService.total }}</span
          >
        </div>

        <form class="d-flex align-items-center col-4 buscador">
          <div class="form-label-group w-100">
            <input
              type="email"
              id="inputEmail"
              class="form-control form-control-sm"
              placeholder="Buscar"
              (keyup)="BuscarValor()"
              (change)="BuscarValor()"
              [(ngModel)]="_TablasService.busqueda"
              name="buscar"
            />
            <label for="inputEmail">Buscar</label>
          </div>
        </form>
      </div>
    </div>

    <div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Cargo</th>
            <th scope="col">Email</th>
            <th scope="col">Recibo</th>
            <th scope="col">U.Recibo</th>
            <!-- <th scope="col">Meta</th> -->
            <th scope="col">Estado</th>
            <th *ngIf="isAdmin" scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of _TablasService.datosTablaStorage">
            <th scope="row">{{ usuario.id }}</th>
            <td>{{ usuario.name }} {{ usuario.apellido }}</td>
            <td>{{ usuario.cargo }}</td>
            <td>{{ usuario.email }}</td>
            <td>
              <div
                *ngIf="usuario.recibo"
                (click)="
                  modificarRangoRecibo(
                    modalProducto,
                    usuario.recibo,
                    usuario.id
                  )
                "
                role="button"
              >
                <i class="fas fa-ticket-alt text-success"></i> ({{
                  usuario.recibo.min
                }}
                - {{ usuario.recibo.max }})
              </div>
              <div
                *ngIf="!usuario.recibo"
                (click)="agregarRangoRecibo(modalProducto, usuario.id)"
                role="button"
              >
                <i class="fas fa-ticket-alt text-danger"></i> Agregar
              </div>
            </td>
            <td
              class="pointer"
              (click)="
                mostrarRecibosSinTerminar(modalRecibosSinTerminar, usuario)
              "
            >
              <div *ngIf="usuario.ultimo_recibo">
                <b>{{ usuario.ultimo_recibo.numero }}</b>
              </div>
              <div *ngIf="!usuario.ultimo_recibo">---</div>
            </td>
            <td>
              <span *ngIf="usuario.estado">Activo</span>
              <span *ngIf="!usuario.estado">Inactivo</span>
            </td>
            <td *ngIf="isAdmin">
              <div class="d-flex flex-direction">
                <div class="mr-3" ngbTooltip="Editar">
                  <a [routerLink]="['/usuario', 'editar', usuario.id]"
                    ><i class="fas fa-pencil-alt"></i
                  ></a>
                </div>
                <div class="mr-3" ngbTooltip="Eliminar">
                  <span
                    class="text-primary pointer"
                    role="button"
                    (click)="eliminar(usuario)"
                    ><i class="fas fa-trash-alt"></i
                  ></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="_TablasService.total"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshCountries()"
        ></ngb-pagination>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #modalProducto let-modal>
  <div class="modal-header">
    <h5 class="mb-0">Recibo</h5>
    <div
      role="button"
      class="close btn btn-icon btn-sm btn-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div class="modal-body">
    <div class="container cortar-preview">
      <app-recibo-modal-form
        (FormsValues)="FormsValues($event)"
        [recibo]="recibo"
      ></app-recibo-modal-form>
    </div>
  </div>
</ng-template>

<ng-template #modalRecibosSinTerminar let-modal>
  <div class="modal-header">
    <h5 class="mb-0">Historial rangos de recibos</h5>
    <div
      role="button"
      class="close btn btn-icon btn-sm btn-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div class="modal-body">
    <div class="container cortar-preview">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Rango</th>
            <th scope="col">Recibos Faltantes</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody *ngIf="recibosRangosSinTerminar.length > 0">
          <tr *ngFor="let reciboSinTerminar of recibosRangosSinTerminar">
            <td>{{ reciboSinTerminar.rango }}</td>
            <td>
              <textarea
                cols="30"
                rows="3"
                readonly="1"
                style="width: 235px; height: 41px; border: 0px"
                >{{ reciboSinTerminar.recibos_faltantes }}</textarea
              >
            </td>
            <td>
              <button
                class="btn btn-primary"
                (click)="cambiarEstadoRangoRecibos(reciboSinTerminar)"
                [innerHTML]="
                  reciboSinTerminar.habilitado ? 'No ignorado' : 'Ignorado'
                "
              ></button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="recibosRangosSinTerminar.length == 0">
          <tr>
            <td colspan="3">
              <div
                class="container d-flex align-items-center justify-content-center"
              >
                <h6 class="font-weight-normal">
                  No existen recibos faltantes en su historial
                </h6>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #modalMeta let-modal>
  <div class="modal-header">
    <h5 class="mb-0">Meta</h5>
    <div
      role="button"
      class="close btn btn-icon btn-sm btn-primary"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </div>
  </div>
  <div class="modal-body">
    <div class="container cortar-preview">
      <app-meta-form
        (submitForm)="FormsValuesMeta($event)"
        [meta]="meta"
      ></app-meta-form>
    </div>
  </div>
</ng-template>
