<div class="bg-white">
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando clientes inactivos
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
    </div>
  </div>

  <ng-container *ngIf="!isLoad">
    <div class="card-header border-0 pt-4 bg-white">
      <!-- <a class="btn btn-primary" routerLink="/devolucion/agregar/producto">
        <i class="fas fa-plus"></i>
        Agregar
      </a> -->
      <div class="col-md-12">
        <div class="d-flex flex-row justify-content-between mt-3">
          <div class="card-title align-items-start flex-column">
            <!-- <span class="d-block fuvi-text-green card-label fw-bolder fs-3 mb-1">Recibos de credito</span> -->
            <span class="fuvi-text-black mt-1 fw-bold fs-5"
              >Total de clientes: {{ _TablasService.total }}</span
            >
          </div>

          <form class="d-flex align-items-center col-4 buscador pr-0">
            <div class="form-label-group w-100">
              <input
                type="email"
                id="inputEmail"
                class="form-control form-control-sm"
                placeholder="Buscar"
                (keyup)="BuscarValor()"
                (change)="BuscarValor()"
                [(ngModel)]="_TablasService.busqueda"
                name="buscar"
              />
              <label for="inputEmail">Buscar</label>
            </div>
          </form>
        </div>
      </div>

      <div class="col-md-12 d-flex flex-wrap">
        <button class="btn btn-primary mr-3" (click)="descargarPDF()">
          <i class="fas fa-file-download fa-lg"></i> Descargar
        </button>
        <button
          class="btn btn-primary align-self-center"
          (click)="openFiltros(contentEditar)"
        >
          Filtros <i class="fas fa-filter"></i>
        </button>
      </div>
    </div>

    <div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Empresa</th>
            <!-- <th scope="col">Usuario</th> -->
            <th scope="col">E.cuentas</th>
            <th scope="col">Cedula</th>
            <th scope="col">Días cobro</th>
            <th scope="col">Observación</th>
            <th scope="col">Ubicaciones</th>
            <th scope="col">Dirección de casa</th>
            <th scope="col">Dirección de negocio</th>
            <th scope="col">Facturas</th>
            <!-- <th scope="col">Categoria</th>
            <th scope="col">Frecuencia</th> -->
          </tr>
        </thead>
        <tbody *ngIf="_TablasService.datosTablaStorage.length > 0">
          <tr *ngFor="let Cliente of _TablasService.datosTablaStorage">
            <!-- <th scope="row">{{ Recibo.id }}</th> -->
            <th>#{{ Cliente.id }}</th>
            <!-- <td>
              {{ Cliente.nombreCompleto }}
            </td> -->
            <td>
              <a
                [routerLink]="['/cliente', 'editar', Cliente.id]"
                target="_blank"
                class="text-dark"
                >{{ Cliente.nombreCompleto }}</a
              >
            </td>
            <td>
              <a
                [routerLink]="['/cliente', 'editar', Cliente.id]"
                target="_blank"
                class="text-dark"
                >{{ Cliente.nombreEmpresa }}</a
              >
            </td>
            <!-- <td>
              <div *ngIf="Cliente.user_id">
                {{ Cliente.user.name }} {{ Cliente.user.apellido }}
              </div>
              <div *ngIf="!Cliente.user_id">No tiene usuario asignado</div>
            </td> -->
            <td>
              <a
                target="_blank"
                [routerLink]="['/cliente', 'estado-cuenta', Cliente.id]"
                >Ver detalle</a
              >
            </td>
            <td>
              {{ Cliente.cedula }}
            </td>
            <td>
              <div
                class="text-center text-primary"
                ngbTooltip="{{ Cliente.dias_cobro | uppercase }}"
              >
                <i class="fas fa-info-circle"></i>
              </div>
            </td>
            <td>
              <div class="form-group tipehead">
                <select
                  class="form-control"
                  (change)="SetNota($event.target, Cliente)"
                >
                  <option [selected]="true" value="0">
                    Sin seleccionar
                  </option>
                  <option [selected]="Cliente.nota?.tipos == 1" value="1">
                    Fuera del país
                  </option>
                  <option [selected]="Cliente.nota?.tipos == 2" value="2">
                    Inconformidad
                  </option>
                  <option [selected]="Cliente.nota?.tipos == 3" value="3">
                    Cambio de dirección
                  </option>
                  <option [selected]="Cliente.nota?.tipos == 4" value="4">
                    Código duplicado
                  </option>
                  <option [selected]="Cliente.nota?.tipos == 5" value="5">
                    Cierre de negocio
                  </option>
                </select>
              </div>
            </td>
            <td>
              {{ Cliente.nombre_departamento | capitalize }} -
              {{ Cliente.nombre_municipio | capitalize }}
            </td>
            <td>
              {{ Cliente.direccion_casa }}
            </td>
            <td>
              {{ Cliente.direccion_negocio }}
            </td>
            <td>
              <div class="d-flex flex-direction">
                <div
                  *ngIf="Cliente.cantidad_factura > 0"
                  class="mr-3"
                  ngbTooltip="Facturas"
                >
                  <a
                    [routerLink]="['/cliente', 'factura', Cliente.id]"
                    target="_blank"
                    ><i class="fas fa-receipt"></i
                  ></a>
                </div>
                <div
                  *ngIf="Cliente.cantidad_factura == 0"
                  class="mr-3"
                  ngbTooltip="No posee facturas"
                >
                  -
                </div>
              </div>
            </td>

            <!-- <td>
              {{ Cliente.categoria.descripcion }}
            </td>
            <td>
              <div class="mr-3" *ngIf="Cliente.frecuencia">
                <span> {{ Cliente.frecuencia.descripcion }} </span>
              </div>
              <div class="mr-3" *ngIf="!Cliente.frecuencia">
                <span> - </span>
              </div>
            </td> -->
          </tr>
        </tbody>
        <tbody *ngIf="_TablasService.datosTablaStorage.length == 0">
          <tr>
            <td colspan="11">
              <div
                class="container d-flex align-items-center justify-content-center"
              >
                <!-- <div class="alert alert-info w-100 text-center" > -->
                <h5>No existen clientes inactivos</h5>
                <!-- </div> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <ngb-pagination
          [collectionSize]="_TablasService.total"
          [(page)]="page"
          [pageSize]="pageSize"
          (pageChange)="refreshCountries()"
        ></ngb-pagination>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #contentEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" value="true" [(ngModel)]="allDates">
          <label class="form-check-label" for="flexCheckDefault">
            Todos
          </label>
        </div>
      </div> -->
    </div>
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="form-group">
          <p class=" font-weight-bold">Desde</p>
          <input [disabled]="allDates" type="date"  class="form-control" [(ngModel)]="dateIni" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" >
          <p class=" font-weight-bold">Hasta</p>
          <input [disabled]="allDates" type="date"  class="form-control" [(ngModel)]="dateFin" >
        </div>
      </div>

      <div class="col-md-12" *ngIf="isAdmin">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="allNumber" value="true" [(ngModel)]="allNumber">
          <label class="form-check-label" for="allNumber">
            Todos los números
          </label>
        </div>
      </div>

      <div class="col-md-12" *ngIf="isAdmin">
        <div class="form-group">
          <p class=" font-weight-bold">Número mayor o igual que</p>
          <input [disabled]="allNumber" type="number"  class="form-control" [(ngModel)]="numRecibo" >
        </div>
      </div> -->
      <!-- <div class="col-md-6" *ngIf="isAdmin">
        <div class="form-group" >
          <p class=" font-weight-bold">Número hasta</p>
          <input [disabled]="allNumber" type="number"  class="form-control" [(ngModel)]="numHasta" >
        </div>
      </div> -->
      <div class="col-md-6" *ngIf="isAdmin || isSupervisor">
        <div class="form-group tipehead">
          <p class="font-weight-bold">Usuario</p>
          <!-- <input
            id="typeahead-focus"
            type="text"
            class="form-control"
            name="cliente"
            [(ngModel)]="userIdString"
            (ngModelChange)="dataChangedUser($event)"
            [ngbTypeahead]="search"
            [placement]="['top-left']"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
          /> -->
          <select name="" id="" class="form-control" [(ngModel)]="userId">
            <option [selected]="userId == 0" value="0">
              Todos los usuarios
            </option>
            <option
              *ngFor="let usuario of userStore"
              [selected]="usuario.id == userId"
              [value]="usuario.id"
            >
              {{ usuario.name }} {{ usuario.apellido }}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <p class="font-weight-bold">Días de cobro</p>
        <div class="d-flex flex-wrap" id="diasCobrosElement">
          <div *ngFor="let day of _HelpersService.DaysOfTheWeek" class="mr-3">
            <input
              type="checkbox"
              [value]="day"
              class="mr-1"
              (change)="changeDiasCobros($event.target)"
              [checked]="existeDiaDeCobroEnFiltro(day)"
            />
            <label [innerHTML]="cortarLetrasYMayuscula(day, 0, 3)"></label>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-3">
        <p class="font-weight-bold">Observación</p>
        <div class="d-flex flex-wrap">
          <select name="" id="" class="form-control" [(ngModel)]="tipos">
            <option [selected]="tipos == 0" value="0">
              Todos las observaciones
            </option>
            <option [selected]="tipos == 1" value="1">Fuera del país</option>
            <option [selected]="tipos == 2" value="2">Inconformidad</option>
            <option [selected]="tipos == 3" value="3">
              Cambio de dirección
            </option>
            <option [selected]="tipos == 4" value="4">Código duplicado</option>
            <option [selected]="tipos == 5" value="5">Cierre de negocio</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="limpiarFiltros()">
          Limpiar <i class="fas fa-eraser"></i>
        </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="aplicarFiltros(true)">
          Aplicar <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
