<div class="row">
    <div class="col-md-12">
        <div class="container-fluid bg-white">
            <div class="row">
                <div class="col-md-12 pt-4 px-4">
                  <h5 class="card-title">Generar Pedido</h5>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="card card-plain">
                              <div class="header d-flex justify-content-between align-items-baseline">
                                  <h6 class="title">Productos</h6>
                                  <form class="d-flex align-items-center col-4 buscador">
                                    <div class="form-label-group w-100 m-0">
                                        <input type="email" id="inputEmail" class="form-control form-control-sm" placeholder="Buscar" (keyup)="BuscarValor()" (change)="BuscarValor()" [(ngModel)]="_TablasService.busqueda" name="buscar">
                                        <label for="inputEmail">Buscar</label>
                                    </div>
                                </form>
                              </div>

                              <div *ngIf="isLoad" class="container-fluid p-5">
                                  <div class="d-flex justify-content-center align-content-center">
                                      <span>
                                          Cargando productos
                                          <i class="fas fa-circle-notch fa-spin"></i>
                                      </span>
                                  </div>
                              </div>
                            <!-- <div class="table-responsive table-full-width" *ngIf="!isLoad" > -->
                            <div class="container-fluid" *ngIf="!isLoad" >
                              <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let producto of _TablasService.datosTablaStorage">
                                  {{ producto.descripcion }} -
                                  {{ producto.stock }} Uds - 
                                  {{ producto.precio | currency: 'USD' }} 
                                  <span class="badge  badge-pill">
                                    <form role="form" (submit)="agregarProducto($event, producto)">
                                      <div class="form-inline carga-producto">
                                          <button type="button" class="btn btn-success btn-sm" (click)="openFormProduct(producto)">
                                            <i class="fas fa-cart-plus"></i>
                                          </button>
                                      </div>
                                    </form>
                                  </span>
                                </li>

                              </ul>
                              <!-- <table class="table table-hover">
                                  <tbody>
                                      <tr *ngFor="let producto of _TablasService.datosTablaStorage">
                                          <td>{{ producto.descripcion }}</td>
                                          <td>{{ producto.stock }} Uds</td>
                                          <td>{{ producto.precio | currency: 'USD' }}</td>
                                          <td>
                                            <form role="form" (submit)="agregarProducto($event, producto)">
                                              <div class="form-inline carga-producto">
                                                  <button type="button" class="btn btn-success btn-sm" (click)="openFormProduct(producto)">
                                                    <i class="fas fa-cart-plus"></i>
                                                  </button>
                                              </div>
                                            </form>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table> -->
                            </div>
                            <div class="d-flex justify-content-between p-2">
                              <ngb-pagination [collectionSize]="_TablasService.total" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()"></ngb-pagination>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template
    #modalProducto
    let-modal
>
  <div class="modal-header">
      <button
          type="button"
          class="close btn btn-icon btn-sm btn-primary"
          aria-label="Close"
          (click)="modal.dismiss('Cross click')"
      >
          <!-- <span aria-hidden="true">&times;</span> -->
          <i class="fas fa-times"></i>
      </button>
  </div>
  <div class="modal-body">
    <div class="container cortar-preview">
      <app-facturar-producto (FormsValues)="FormsValues($event)" [producto]="Producto"></app-facturar-producto>
    </div>
  </div>
</ng-template>