<br />

<form [formGroup]="FormImportacion" class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label>Fecha de inversión</label>
      <input
        type="date"
        class="form-control"
        name="fecha_inversion"
        formControlName="fecha_inversion"
        autocomplete="off"
      />
      <div *ngIf="getControlError('fecha_inversion') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.fecha_inversion"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Número de recibo</label>
      <input
        type="text"
        class="form-control"
        name="fecha_inversion"
        formControlName="numero_recibo"
        autocomplete="off"
      />
      <div *ngIf="getControlError('numero_recibo') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.numero_recibo"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Número de inversión</label>
      <input
        type="text"
        class="form-control"
        name="numero_inversion"
        formControlName="numero_inversion"
        autocomplete="off"
      />
      <div *ngIf="getControlError('numero_inversion') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.numero_inversion"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Monto de compra</label>
      <input
        type="text"
        class="form-control"
        name="monto_compra"
        formControlName="monto_compra"
        autocomplete="off"
        appOnlyNumberAndPoint
      />
      <div *ngIf="getControlError('monto_compra') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.monto_compra"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Conceptualización</label>
      <input
        type="text"
        class="form-control"
        name="conceptualizacion"
        formControlName="conceptualizacion"
        autocomplete="off"
      />
      <div *ngIf="getControlError('conceptualizacion') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.conceptualizacion"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label>Monto de envio</label>
      <input
        type="text"
        class="form-control"
        name="monto_envio"
        formControlName="monto_envio"
        autocomplete="off"
        appOnlyNumberAndPoint
      />
      <div *ngIf="getControlError('monto_envio') as error">
        <app-valid-error-messages-form
          [errors]="error"
          [messages]="InversionErrorMessages.monto_envio"
        ></app-valid-error-messages-form>
      </div>
    </div>
  </div>
</form>

<hr class="mt-4 mb-4" />
<div class="row">
  <div class="update ml-auto mr-auto">
    <button
      type="submit"
      class="btn btn-primary btn-round"
      [disabled]="!isValidForm"
      (click)="EnviarFormulario()"
    >
      <div *ngIf="Id">Actualizar</div>
      <div *ngIf="!Id">Agregar</div>
    </button>
  </div>
</div>

<div [hidden]="!loadInfo" class="container-fluid p-5">
  <div class="d-flex justify-content-center align-content-center">
    <span>
      Cargando categoria
      <i class="fas fa-circle-notch fa-spin"></i>
    </span>
  </div>
</div>
