<div class="bg-white container-fluid">
  <div class="container py-4">
    <div class="row justify-content-center">
      <div class="col-7">
        <a class="btn btn-primary btn-block" [routerLink]="[ '/finanzas/inversion']">Inversión</a>
      </div>
      <div class="col-7">
        <a class="btn btn-primary btn-block" [routerLink]="[ '/finanzas/importacion']">Importación</a>
      </div>
      <div class="col-7">
        <a class="btn btn-primary btn-block" [routerLink]="[ '/finanzas/costos']">Costos</a>
      </div>
    </div>
  </div>
</div>
