<div class="bg-white">
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando usuarios
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
    </div>
  </div>

  <ng-container *ngIf="!isLoad">
    <div class="card-header border-0 pt-4 bg-white">
      <!-- <a class="btn btn-primary" routerLink="/devolucion/agregar/producto">
        <i class="fas fa-plus"></i>
        Agregar
      </a> -->
      <div class="col-md-12">
        <div class="d-flex flex-row justify-content-between mt-3">
          <button
            class="btn btn-primary align-self-center mt-0"
            (click)="openFiltros(contentEditar)"
          >
            Filtros <i class="fas fa-filter"></i>
          </button>
          <!-- <form class="d-flex align-items-center col-4 buscador pr-0">
            <div class="form-label-group w-100">
              <input
                type="email"
                id="inputEmail"
                class="form-control form-control-sm"
                placeholder="Buscar"
                (keyup)="BuscarValor()"
                (change)="BuscarValor()"
                [(ngModel)]="Data.busqueda"
                name="buscar"
              />
              <label for="inputEmail">Buscar</label>
            </div>
          </form> -->
        </div>
      </div>

      <div
        class="card-title align-items-start flex-column col"
        *ngIf="isAdmin || isSupervisor"
      >
        <span class="fuvi-text-black mt-1 fw-bold fs-5"
          >Mes: <b>{{ obtenerNombreMes() }}</b></span
        ><br />
        <span class="fuvi-text-black mt-1 fw-bold fs-5"
          >Monto Reactivación:
          <b
            class="cursor-pointer text-primary"
            (click)="openMontoReactivacion(contentMontoReactivacion)"
          >
            <u>{{ montoReactivacion | currency: "USD" }}</u>
          </b>
        </span>
      </div>
    </div>

    <div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Vendedor</th>
            <!-- <th scope="col">Total Facturas</th> -->
            <!-- <th scope="col">Total Abonos</th> -->
            <th scope="col">Monto Cumplimiento</th>
            <th scope="col">Monto Meta</th>
            <th scope="col">Porcentaje %</th>
            <th scope="col">Clientes Nuevos</th>
            <th scope="col">Clientes Reactivados</th>
            <th scope="col">Clientes Global</th>
            <th scope="col">Clientes Meta</th>
            <th scope="col">Porcentaje</th>
          </tr>
        </thead>
        <tbody *ngIf="Data.length > 0">
          <tr *ngFor="let Recuperacion of Data">
            <th>
              {{ Recuperacion.user_id }}
            </th>
            <td>
              {{ Recuperacion.recuperacion_mensual.user.name }}
              <!-- {{ Recuperacion.recuperacion_mensual.user.apellido }} -->
            </td>
            <td>
              {{
                Recuperacion.recuperacion_mensual.abonosTotalLastMount
                  | currency: "USD"
              }}
            </td>
            <td>
              {{
                Recuperacion.recuperacion_mensual.recuperacionTotal
                  | currency: "USD"
              }}
            </td>
            <td>
              {{
                calcularPorcentaje(
                  Recuperacion.recuperacion_mensual.abonosTotalLastMount,
                  Recuperacion.recuperacion_mensual.recuperacionTotal,
                  2
                )
              }}%
            </td>
            <td>
              {{ Recuperacion.clientes_nuevos }}
            </td>
            <td>
              {{ Recuperacion.clientes_reactivados.length }}
            </td>
            <td>
              {{
                Recuperacion.clientes_nuevos +
                  Recuperacion.clientes_reactivados.length
              }}
            </td>
            <td
              class="cursor-pointer text-primary"
              (click)="openEditarMeta(contentEditarMeta, Recuperacion)"
            >
              <u>{{ Recuperacion.cliente_meta || 0 }}</u>
            </td>
            <td>
              {{
                calcularPorcentaje(
                  Recuperacion.clientes_nuevos +
                    Recuperacion.clientes_reactivados.length,
                  Recuperacion.cliente_meta || 0,
                  2
                )
              }}%
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf="Data.length > 0">
          <tr class="table-info font-weight-bold">
            <td colspan="2" class="text-center"><strong>TOTALES:</strong></td>
            <td>
              <strong>{{ totalMontoCumplimiento | currency: "USD" }}</strong>
            </td>
            <td>
              <strong>{{ totalMontoMeta | currency: "USD" }}</strong>
            </td>
            <td>
              <strong
                >{{
                  calcularPorcentaje(totalMontoCumplimiento, totalMontoMeta, 2)
                }}%</strong
              >
            </td>
            <td>
              <strong>{{ totalClientesNuevos }}</strong>
            </td>
            <td>
              <strong>{{ totalClientesReactivados }}</strong>
            </td>
            <td>
              <strong>{{ totalClientesGlobal }}</strong>
            </td>
            <td>
              <strong>{{ totalClientesMeta }}</strong>
            </td>
            <td>
              <strong
                >{{
                  calcularPorcentaje(totalClientesGlobal, totalClientesMeta, 2)
                }}%</strong
              >
            </td>
          </tr>
          <tr class="table-warning font-weight-bold">
            <td colspan="2" class="text-center">
              <strong>PROMEDIO DE PORCENTAJES:</strong>
            </td>
            <td colspan="3" class="text-center">
              <strong
                >{{
                  (
                    (calcularPorcentaje(
                      totalMontoCumplimiento,
                      totalMontoMeta,
                      2
                    ) +
                      calcularPorcentaje(
                        totalClientesGlobal,
                        totalClientesMeta,
                        2
                      )) /
                    2
                  ).toFixed(2)
                }}%</strong
              >
            </td>
            <td colspan="5"></td>
          </tr>
        </tfoot>
        <tbody *ngIf="Data.length == 0">
          <tr>
            <td colspan="11">
              <div
                class="container d-flex align-items-center justify-content-center"
              >
                <!-- <h5>No existen clientes inactivos</h5> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</div>

<ng-template #contentEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <p class="font-weight-bold">Desde</p>
          <input
            [disabled]="allDates"
            type="date"
            class="form-control"
            [(ngModel)]="dateIni"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <p class="font-weight-bold">Hasta</p>
          <input
            [disabled]="allDates"
            type="date"
            class="form-control"
            [(ngModel)]="dateFin"
          />
        </div>
      </div>

      <!-- <div class="col-md-12" *ngIf="isAdmin">
        <div class="form-group tipehead" >
          <p class=" font-weight-bold">Usuario</p>
          <select name="" id="" class="form-control" [(ngModel)]="userId">
            <option [selected]="userId == 0" value="0">Todos los usuarios</option>
            <option *ngFor="let usuario of userStore" [selected]="usuario.id == userId" [value]="usuario.id">{{ usuario.name }} {{ usuario.apellido }}</option>
          </select>
        </div>
      </div> -->
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="limpiarFiltros()">
          Limpiar <i class="fas fa-eraser"></i>
        </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="aplicarFiltros(true)">
          Aplicar <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentEditarMeta let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-meta-title">
        Editar Meta de Clientes
      </h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="font-weight-bold">Vendedor</label>
          <input
            type="text"
            class="form-control bg-light"
            [value]="
              usuarioSeleccionado?.recuperacion_mensual?.user?.name || ''
            "
            disabled
            readonly
          />
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <label class="font-weight-bold"
            >Meta de Clientes <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            [(ngModel)]="metaClienteEditando"
            min="0"
            step="1"
            placeholder="Ingrese la meta de clientes"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="modal.dismiss('Cancel')">
          Cancelar
        </button>
      </div>
      <div class="col text-center">
        <button
          class="btn btn-primary"
          (click)="guardarMetaCliente()"
          [disabled]="!metaClienteEditando || metaClienteEditando < 0"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #contentMontoReactivacion let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-reactivacion-title">
        Monto de Reactivación de Clientes
      </h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="font-weight-bold"
            >Monto de Reactivación <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            [(ngModel)]="montoReactivacion"
            min="0"
            step="0.01"
            placeholder="Ingrese el monto de reactivación"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-secondary" (click)="modal.dismiss('Cancel')">
          Cancelar <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="col text-center">
        <button
          class="btn btn-primary"
          (click)="guardarMontoReactivacion()"
          [disabled]="!montoReactivacion || montoReactivacion < 0"
        >
          Guardar <i class="fas fa-save"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>
