<div class="bg-white container-fluid">
  <div class="card-header border-0 pt-4 bg-white">
    <div class="d-flex">
      <div>
        <button
          class="btn btn-primary mt-0 mr-2"
          (click)="openFiltros(contentFiltros)"
        >
          Filtros <i class="fas fa-filter"></i>
        </button>
      </div>
      <!-- <div class="d-flex justify-content-start flex-wrap">
        <a
          class="btn btn-primary mt-0"
          [routerLink]="['/finanzas', 'importacion', 'agregar']"
        >
          Agregar <i class="fas fa-plus"></i>
        </a>
      </div> -->
    </div>
  </div>

  <div class="bg-white">
    <div class="container-fluid p-5" *ngIf="isLoad">
      <div class="d-flex justify-content-center align-content-center">
        <span>
          Cargando costos
          <i class="fas fa-circle-notch fa-spin"></i>
        </span>
      </div>
    </div>

    <div class="card-body py-0 px-0" *ngIf="!isLoad">
      <div class="card-header border-0 pt-0 bg-white px-0">
        <div
          class="d-flex card-title align-items-start flex-row flex-wrap justify-content-between w-100"
        >
          <!-- <span class="fuvi-text-black mt-1 fw-bold fs-5"
        >Total met: {{ listadoData.total }}</span
      > -->

          <!-- <button
            class="btn btn-primary mt-0"
            (click)="openFiltros(contentFiltros)"
          >
            Filtros <i class="fas fa-filter"></i>
          </button> -->

          <!-- <form class="d-flex align-items-center justify-content-end buscador">
          <div class="form-label-group input-group">
            <input
              type="text"
              id="inputEmail"
              class="form-control form-control-sm pt-1"
              placeholder="Buscar"
              name="buscar"
              [(ngModel)]="listadoFilter.filter"
            />
            <button
              class="btn btn-primary my-0"
              (click)="BuscarValor()"
              type="button"
              id="button-addon2"
            >
              Buscar
            </button>
          </div>
        </form> -->
        </div>
      </div>

      <div
        class="card-body py-3 px-6 bg-white table-responsive table-full-width"
      >
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">N. Importación</th>
              <th scope="col">N. Recibo</th>
              <th scope="col">Conceptualización</th>
              <th scope="col">N. Inversión</th>
              <th scope="col">Monto de compra</th>
              <th scope="col">Precio de envió</th>
              <!-- <th scope="col">echa Recibo</th> -->
              <th scope="col">Opciones</th>
            </tr>
          </thead>
          <tbody *ngIf="Importaciones.length > 0">
            <tr *ngFor="let Importacion of Importaciones">
              <th scope="row"># {{ Importacion.id }}</th>
              <th scope="row">{{ Importacion.numero_recibo }}</th>
              <td scope="row">{{ Importacion.conceptualizacion }}</td>
              <td scope="row">
                <a
                  [routerLink]="[
                    '/finanzas',
                    'inversion',
                    'editar',
                    Importacion.inversion.id
                  ]"
                >
                  #{{ Importacion.numero_inversion }}
                </a>
              </td>
              <td scope="row">
                {{ Importacion.monto_compra | currency : "USD" }}
              </td>
              <td scope="row">
                {{ Importacion.precio_envio | currency : "USD" }}
              </td>
              <td>
                <div class="d-flex flex-direction">
                  <div
                    class="mr-3"
                    ngbTooltip="Editar"
                    [routerLink]="[
                      '/finanzas',
                      'importacion',
                      'editar',
                      Importacion.id
                    ]"
                  >
                    <span class="text-primary pointer" role="button"
                      ><i class="fas fa-pencil-alt"></i
                    ></span>
                  </div>
                  <!-- <div
                    class="mr-3"
                    ngbTooltip="Eliminar"
                    (click)="eliminar(Importacion)"
                  >
                    <span class="text-primary pointer" role="button"
                      ><i class="fas fa-trash-alt"></i
                    ></span>
                  </div> -->
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="Importaciones.length == 0">
            <tr>
              <td colspan="10">
                <div
                  class="container d-flex align-items-center justify-content-center"
                >
                  <h5>No existen datos</h5>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between p-2">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li
                class="page-item"
                *ngFor="let listado of listadoData.links"
                (click)="newPage(listado)"
                [ngClass]="{
                  active: listado.active,
                  disabled: listado.url == null
                }"
              >
                <span class="page-link pointer">
                  <span aria-hidden="true" [innerHTML]="listado.label"></span>
                </span>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <ng-template #contentFiltros let-modal>
    <div class="modal-header">
      <div>
        <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
      </div>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
              value="true"
              [(ngModel)]="allDates"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Todos
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <p class="font-weight-bold">Desde</p>
            <input
              [disabled]="allDates"
              type="date"
              class="form-control"
              [(ngModel)]="dateIni"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <p class="font-weight-bold">Hasta</p>
            <input
              [disabled]="allDates"
              type="date"
              class="form-control"
              [(ngModel)]="dateFin"
            />
          </div>
        </div>

        <div class="col-md-6" *ngIf="isAdmin || isSupervisor">
          <p class="font-weight-bold">Usuarios</p>
          <select name="" id="" class="form-control" [(ngModel)]="userId">
            <option value="0">Todos los usuarios</option>
            <option
              *ngFor="let usuario of userStore"
              [selected]="usuario.id == userId"
              [value]="usuario.id"
            >
              {{ usuario.name }} {{ usuario.apellido }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="modal-footer justify-content-center w-100">
      <div class="row w-100">
        <div class="col text-center">
          <button class="btn btn-danger" (click)="limpiarFiltros()">
            Limpiar <i class="fas fa-eraser"></i>
          </button>
        </div>
        <div class="col text-center">
          <button class="btn btn-primary" (click)="asignarValores()">
            Aplicar <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
