<form [formGroup]="FrecuenciaForm" [hidden]="loadInfo">
  <span class="text-info">Nota: Los campos con <span class="text-danger">(*)</span> son obligatorios.</span>
  <br>
  <br>
  <br>
  <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label>Descripción <span class="text-danger">(*)</span></label>
              <input
                  type="text"
                  class="form-control"
                  name="descripcion"
                  formControlName="descripcion"
                  autocomplete="off"
                  [ngClass]="{
                  'is-invalid': FrecuenciaForm.controls['descripcion'].invalid && FrecuenciaForm.controls['descripcion'].touched,
                  'is-valid': FrecuenciaForm.controls['descripcion'].valid
                  }"
              >
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'La descripción es requerida',
                  control: FrecuenciaForm.controls['descripcion']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'La descripción debe tener como máximo 80 letras',
                  control: FrecuenciaForm.controls['descripcion']
              }"></ng-container>
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
              <label>Número de días<span class="text-danger">(*)</span></label>
              <input
                  type="text"
                  class="form-control"
                  name="dias"
                  formControlName="dias"
                  autocomplete="off"
                  [ngClass]="{
                  'is-invalid': FrecuenciaForm.controls['dias'].invalid && FrecuenciaForm.controls['dias'].touched,
                  'is-valid': FrecuenciaForm.controls['dias'].valid
                  }"
              >
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'pattern',
                  message: 'El número de días debe ser numérico',
                  control: FrecuenciaForm.controls['dias']
                  }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'required',
                  message: 'El número de días es requerido',
                  control: FrecuenciaForm.controls['dias']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'maxlength',
                  message: 'El número de días debe tener como máximo 11 numeros',
                  control: FrecuenciaForm.controls['dias']
              }"></ng-container>
              <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
                  validation: 'min',
                  message: 'El número de días debe ser mayor o igual a 1',
                  control: FrecuenciaForm.controls['dias']
              }"></ng-container>
          </div>
      </div>


      <div class="col-md-4" [formGroup]="EstadoForm" *ngIf="Id" >
          <div class="form-group">
              <label>Estado</label>
              <select
                class="form-control"
                name="estado"
                formControlName="estado"
              >
                  <option value="1">Activo</option>
                  <option value="0">Inactivo</option>
              </select>
          </div>
      </div>

  </div>
  <div class="row">
      <div class="update ml-auto mr-auto">
          <button  
            type="submit"
            class="btn btn-primary btn-round"
            [disabled]="_FrecuenciaFacturaService.isLoad"
            (click)="EnviarFormulario()"
          >
            <div *ngIf="Id">Actualizar</div>
            <div *ngIf="!Id">Agregar</div>
          </button>
      </div>
  </div>
  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="invalid-feedback">
        {{ message }}
      </div>
    </ng-container>
  </ng-template>
</form>


 
<div  [hidden]="!loadInfo" class="container-fluid p-5">
  <div class="d-flex justify-content-center align-content-center">
    <span>
      Cargando categoria
      <i class="fas fa-circle-notch fa-spin"></i>
    </span>
    
  </div>
</div>