<form [formGroup]="AbonoForm" [hidden]="loadInfo">
    <span class="text-info">Nota: Los campos con <span class="text-danger">(*)</span> son obligatorios.</span>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group " >
          <label>Numero de Recibo <span class="text-danger">(*)</span></label>
          <input
            type="number"
            class="form-control"
            name="recibo"
            formControlName="recibo"
            autocomplete="off"
            [ngClass]="{
            'is-invalid': AbonoForm.controls['recibo'].invalid && AbonoForm.controls['recibo'].touched,
            'is-valid': AbonoForm.controls['recibo'].valid
            }"
          >

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Pide que asignen un talonario de recibos.',
            control: AbonoForm.controls['recibo']
        }"></ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group tipehead" >
            <label>Cliente <span class="text-danger">(*)</span></label>
            <input
              id="typeahead-focus"
              type="text"
              class="form-control"
              name="cliente_id"
              formControlName="cliente_id"

              [ngbTypeahead]="search"
              [placement]="['top-left']"
              (focus)="focus$.next($any($event).target.value)"
              (click)="click$.next($any($event).target.value)"
              #instance="ngbTypeahead"
            />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Monto <span class="text-danger">(*)</span></label>
          <input
              type="number"
              class="form-control"
              name="precio"
              formControlName="precio"
              autocomplete="off"
              [ngClass]="{
              'is-invalid': AbonoForm.controls['precio'].invalid && AbonoForm.controls['precio'].touched,
              'is-valid': AbonoForm.controls['precio'].valid
              }"
          >
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'required',
              message: 'El monto es requerido',
              control: AbonoForm.controls['precio']
          }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'maxlength',
              message: 'El monto debe tener como máximo 30 letras',
              control: AbonoForm.controls['precio']
          }"></ng-container>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
              validation: 'max',
              message: 'El monto no debe ser mayor a el abono',
              control: AbonoForm.controls['precio']
          }"></ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Metodo de pago<span class="text-danger">(*)</span></label>
          <!-- <input
              type="number"
              class="form-control"
              name="metodo_pago"
              formControlName="metodo_pago"
              autocomplete="off"
              [ngClass]="{
              'is-invalid': AbonoForm.controls['metodo_pago'].invalid && AbonoForm.controls['metodo_pago'].touched,
              'is-valid': AbonoForm.controls['metodo_pago'].valid
              }"
          > -->

          <select
            id="my-select"
            class="form-control"
            name="metodo_pago"
            formControlName="metodo_pago"
            [ngClass]="{
              'is-invalid': AbonoForm.controls['metodo_pago'].invalid && AbonoForm.controls['metodo_pago'].touched,
              'is-valid': AbonoForm.controls['metodo_pago'].valid
            }"
          >
            <option selected value="" hidden>Seleccione el metodo de pago</option>
            <option *ngFor="let TipoMetodo of TiposMetodos" [value]="TipoMetodo.id">{{ TipoMetodo.nombre }}</option>
          </select>
          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El metodo de pago es requerido',
            control: AbonoForm.controls['metodo_pago']
          }"></ng-container>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Detalle de pago (Opcional)</label>
          <input
              type="text"
              class="form-control"
              name="detalle_pago"
              formControlName="detalle_pago"
              autocomplete="off"
              [ngClass]="{
              'is-invalid': AbonoForm.controls['detalle_pago'].invalid && AbonoForm.controls['detalle_pago'].touched,
              'is-valid': AbonoForm.controls['detalle_pago'].valid
              }"
          >

          <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El detalle de pago tiene un limite de 120 caracteres.',
            control: AbonoForm.controls['detalle_pago']
          }"></ng-container>


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- <p>Cálculo: <b>{{ diferencia | currency: 'USD' }}</b> </p> -->
        <p>Por Abonar: <b>{{ diferencia | currency: 'USD' }}</b> </p>
        <p>Total Factura: <b>{{ montoTotal | currency: 'USD' }}</b> </p>
      </div>
    </div>
    <div class="row">
        <div class="update ml-auto mr-auto">
            <button
              type="submit"
              class="btn btn-primary btn-round"
              (click)="EnviarFormulario()"
              [disabled]="bloqueo"
            >
              <!-- <div *ngIf="Id">Actualizar</div> -->
              <div >Agregar</div>
            </button>
        </div>
    </div>
    <ng-template #formError let-control="control" let-message="message" let-validation="validation">
      <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
        <div class="invalid-feedback">
          {{ message }}
        </div>
      </ng-container>
    </ng-template>
  </form>



  <div  [hidden]="!loadInfo" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando Abono
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>

    </div>
  </div>
