<form [formGroup]="AbonoForm" [hidden]="loadInfo">
  <span class="text-info"
    >Nota: Los campos con <span class="text-danger">(*)</span> son
    obligatorios.</span
  >
  <br />
  <br />
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Numero de Recibo <span class="text-danger">(*)</span></label>
        <input
          type="number"
          class="form-control"
          name="recibo"
          formControlName="recibo"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              AbonoForm.controls['recibo'].invalid &&
              AbonoForm.controls['recibo'].touched,
            'is-valid': AbonoForm.controls['recibo'].valid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'Pide que asignen un talonario de recibos.',
            control: AbonoForm.controls['recibo']
          }"
        ></ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group tipehead">
        <label>Cliente <span class="text-danger">(*)</span></label>
        <!-- <input
              id="typeahead-focus"
              type="text"
              class="form-control"
              name="cliente_id"
              formControlName="cliente_id"

              [ngbTypeahead]="search"
              [placement]="['top-left']"
              (focus)="focus$.next($any($event).target.value)"
              (click)="click$.next($any($event).target.value)"
              #instance="ngbTypeahead"
            /> -->

        <div class="d-flex align-items-center">
          <input
            name="cliente_id"
            formControlName="cliente_id"
            type="text"
            class="form-control mr-3 mb-0"
            [ngbTypeahead]="search2"
            [placement]="['top-left']"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
            (selectItem)="eventInputTypeHead($event)"
          />
          <small *ngIf="searching" class="form-text text-muted">
            <i class="fas fa-circle-notch fa-spin fa-lg"></i
          ></small>

          <small
            *ngIf="showDelete && AbonoForm.controls['cliente_id'].valid"
            (click)="eliminarCliente()"
            class="form-text text-muted"
          >
            <i class="fas fa-backspace fa-lg"></i
          ></small>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Monto <span class="text-danger">(*)</span></label>
        <input
          type="number"
          class="form-control"
          name="precio"
          formControlName="precio"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              AbonoForm.controls['precio'].invalid &&
              AbonoForm.controls['precio'].touched,
            'is-valid': AbonoForm.controls['precio'].valid
          }"
        />
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El monto es requerido',
            control: AbonoForm.controls['precio']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El monto debe tener como máximo 30 letras',
            control: AbonoForm.controls['precio']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'max',
            message: 'El monto no debe ser mayor a el abono',
            control: AbonoForm.controls['precio']
          }"
        ></ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Método de pago<span class="text-danger">(*)</span></label>
        <!-- <input
              type="number"
              class="form-control"
              name="metodo_pago"
              formControlName="metodo_pago"
              autocomplete="off"
              [ngClass]="{
              'is-invalid': AbonoForm.controls['metodo_pago'].invalid && AbonoForm.controls['metodo_pago'].touched,
              'is-valid': AbonoForm.controls['metodo_pago'].valid
              }"
          > -->

        <select
          id="my-select"
          class="form-control"
          name="metodo_pago"
          formControlName="metodo_pago"
          [ngClass]="{
            'is-invalid':
              AbonoForm.controls['metodo_pago'].invalid &&
              AbonoForm.controls['metodo_pago'].touched,
            'is-valid': AbonoForm.controls['metodo_pago'].valid
          }"
        >
          <option selected value="" hidden>Seleccione el metodo de pago</option>
          <option
            *ngFor="let TipoMetodo of TiposMetodos"
            [value]="TipoMetodo.id"
          >
            {{ TipoMetodo.nombre }}
          </option>
        </select>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El metodo de pago es requerido',
            control: AbonoForm.controls['metodo_pago']
          }"
        ></ng-container>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Detalle de pago (Opcional)</label>
        <input
          type="text"
          class="form-control"
          name="detalle_pago"
          formControlName="detalle_pago"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              AbonoForm.controls['detalle_pago'].invalid &&
              AbonoForm.controls['detalle_pago'].touched,
            'is-valid': AbonoForm.controls['detalle_pago'].valid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message: 'El detalle de pago tiene un limite de 120 caracteres.',
            control: AbonoForm.controls['autorizacion']
          }"
        ></ng-container>
      </div>
    </div>
    <div
      class="col-md-6"
      *ngIf="
        AbonoForm.controls['metodo_pago'].value == 2 ||
        AbonoForm.controls['metodo_pago'].value == 3
      "
    >
      <div class="form-group">
        <label>Autorización</label>
        <input
          type="text"
          class="form-control"
          name="autorizacion"
          formControlName="autorizacion"
          autocomplete="off"
          appOnlyAlphanumeric
          [ngClass]="{
            'is-invalid':
              AbonoForm.controls['autorizacion'].invalid &&
              AbonoForm.controls['autorizacion'].touched,
            'is-valid': AbonoForm.controls['autorizacion'].valid
          }"
        />

        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'maxlength',
            message:
              AbonoForm.controls['metodo_pago'].value == 2
                ? 'La autorización de transferencias debe tener máximo 20 letras'
                : 'La autorización de tarjetas debe tener máximo 20 letras',
            control: AbonoForm.controls['autorizacion']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'required',
            message: 'El campo es requerido para transferencias y tarjetas',
            control: AbonoForm.controls['autorizacion']
          }"
        ></ng-container>
        <ng-container
          [ngTemplateOutlet]="formError"
          [ngTemplateOutletContext]="{
            validation: 'minlength',
            message:
              AbonoForm.controls['metodo_pago'].value == 2
                ? 'La autorización de transferencias debe tener mínimo 9 letras'
                : 'La autorización de tarjetas debe tener mínimo 7 letras',

            control: AbonoForm.controls['autorizacion']
          }"
        ></ng-container>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div *ngIf="LoadingInformacionCliente" class="d-flex">
        Detalle:
        <p class="pointer ml-2" (click)="openModal(ModalEstadoCuentaCliente)">
          <i class="far fa-eye text-primary"></i>
        </p>
      </div>
      <p>
        Por Abonar: <b>{{ diferencia | currency : "USD" }}</b>
      </p>
      <p>
        Total Factura: <b>{{ montoTotal | currency : "USD" }}</b>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="update ml-auto mr-auto">
      <button
        type="submit"
        class="btn btn-primary btn-round"
        (click)="EnviarFormulario()"
        [disabled]="bloqueo || disableBoton || _AbonoService.isLoad"
      >
        <!-- <div *ngIf="Id">Actualizar</div> -->
        <div *ngIf="disableBoton">
          Agregando
          <i class="fas fa-spinner fa-pulse"></i>
        </div>
        <div *ngIf="!disableBoton">Agregar</div>
      </button>
    </div>
  </div>
  <ng-template
    #formError
    let-control="control"
    let-message="message"
    let-validation="validation"
  >
    <ng-container
      *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
    >
      <div class="invalid-feedback">
        {{ message }}
      </div>
    </ng-container>
  </ng-template>
</form>

<div [hidden]="!loadInfo" class="container-fluid p-5">
  <div class="d-flex justify-content-center align-content-center">
    <span>
      Cargando Abono
      <i class="fas fa-circle-notch fa-spin"></i>
    </span>
  </div>
</div>

<ng-template #ModalEstadoCuentaCliente let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Estado cuenta</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <app-abono-historial-insert
      [datosTablaStorage]="informacionCliente"
    ></app-abono-historial-insert>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-primary" (click)="modal.dismiss('Cross click')">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</ng-template>
