<div class="bg-white">
  
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando clientes
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
      
    </div>
  </div>
  
  <ng-container  *ngIf="!isLoad ">
    <div class=" card-header border-0 pt-5 d-flex flex-row justify-content-between bg-white">
      <div class="card-title align-items-start flex-column">
        <span class="d-block fuvi-text-green card-label fw-bolder fs-3 mb-1">Clientes</span>
        <span class="fuvi-text-black mt-1 fw-bold fs-5">Total: {{ _TablasService.total }}</span>
      </div>

      <form class="d-flex align-items-center col-4 buscador">
          <div class="form-label-group w-100">
              <input type="email" id="inputEmail" class="form-control form-control-sm" placeholder="Buscar" (keyup)="BuscarValor()" (change)="BuscarValor()" [(ngModel)]="_TablasService.busqueda" name="buscar">
              <label for="inputEmail">Buscar</label>
          </div>
      </form>
    </div>

    <div class="card-body py-3 px-6 bg-white">  
      <table class="table table-striped" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dias de cobro</th>
            <th scope="col">Direccion de casa</th>
            <th scope="col">Categoria</th>
            <th scope="col">Frecuencia</th>
            <th scope="col">Facturacion</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let cliente of _TablasService.datosTablaStorage">
            <th scope="row">{{ cliente.id }}</th>
            <td>
              {{ cliente.nombre }}
            </td>
            <td>{{ cliente.dias_cobro }}</td>
            <td>{{ cliente.direccion_casa }}</td>
            <td >              
              <div class="d-flex flex-direction">
                <div class="mr-3" ngbTooltip="{{ cliente.categoria. descripcion }}">
                  <span>({{ cliente.categoria.tipo }}) </span>
                  <a href="#">
                    <i class="fas fa-chart-line "></i>
                  </a>
                </div>
              </div>
            </td>
            <td >              
              <div class="d-flex flex-direction">
                <div class="mr-3" ngbTooltip="{{ cliente.frecuencia.descripcion }}">
                  <a href="#"><i class="fas fa-stopwatch"></i></a>
                    &nbsp;
                  <span>({{ cliente.frecuencia.dias }} dias) </span>
                </div>

              </div>
            </td>
            <td >              
              <div class="d-flex flex-direction">
                <div *ngIf="cliente.facturas.length > 0" class="mr-3" ngbTooltip="Facturas">
                  <a href="#"><i class="fas fa-receipt"></i></a>
                </div>
                <div *ngIf="cliente.facturas.length == 0" class="mr-3" ngbTooltip="No posee facturas">
                    -
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex flex-direction">
                <div class="mr-3" ngbTooltip="Editar">
                  <a [routerLink]="[ '/cliente','editar',cliente.id]" ><i class="fas fa-pencil-alt"></i></a>
                </div>
                <div class="mr-3" ngbTooltip="Eliminar">
                  <span class="text-primary pointer" role="button" (click)="eliminar(cliente)"><i class="fas fa-trash-alt"></i></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
        
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="_TablasService.total" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshCountries()"></ngb-pagination>
      </div>
    </div>
  </ng-container>
</div>