<div class="bg-white">
  <div *ngIf="isLoad" class="container-fluid p-5">
    <div class="d-flex justify-content-center align-content-center">
      <span>
        Cargando clientes
        <i class="fas fa-circle-notch fa-spin"></i>
      </span>
    </div>
  </div>

  <ng-container *ngIf="!isLoad">
    <div class="card-header border-0 pt-4 bg-white">
      <div class="d-flex justify-content-start flex-wrap">
        <button
          class="btn btn-primary mr-2"
          (click)="openFiltros(contentEditar)"
        >
          Filtros <i class="fas fa-filter"></i>
        </button>
        <a class="btn btn-primary mr-2" routerLink="/cliente/agregar">
          <i class="fas fa-plus"></i>
          Agregar
        </a>
        <button
          *ngIf="isSupervisor || isAdmin"
          class="btn btn-primary mr-2"
          (click)="descargarPDF()"
        >
          <i class="fas fa-file-download fa-lg"></i> Reporte
        </button>
        <button
          *ngIf="isSupervisor || isAdmin"
          class="btn btn-primary mr-2"
          (click)="descargarCSV()"
        >
          <i class="fas fa-file-excel fa-lg"></i> Reporte Excell
        </button>
      </div>
      <div class="col-12 p-0">
        <div class="d-flex flex-row justify-content-between mt-3">
          <div class="card-title align-items-start flex-column">
            <span class="d-block fuvi-text-green card-label fw-bolder fs-3 mb-1"
              >Clientes</span
            >
            <span class="fuvi-text-black mt-1 fw-bold fs-5"
              >Total: {{ listadoData.total }}</span
            >
          </div>

          <form class="d-flex align-items-center justify-content-end buscador">
            <div class="form-label-group input-group">
              <input
                type="text"
                id="inputEmail"
                class="form-control form-control-sm pt-1"
                placeholder="Buscar"
                name="buscar"
                [(ngModel)]="listadoFilter.filter"
              />
              <button
                class="btn btn-primary my-0"
                (click)="BuscarValor()"
                type="button"
                id="button-addon2"
              >
                Buscar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card-body py-3 px-6 bg-white table-responsive table-full-width">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Empresa</th>
            <th scope="col">Días de cobro</th>
            <th scope="col">Dirección de casa</th>
            <th scope="col">Categoría</th>
            <!-- <th scope="col">Frecuencia</th> -->
            <th scope="col">Saldo</th>
            <th scope="col">Productos</th>
            <th scope="col">E.Cuenta</th>
            <th scope="col">Usuario</th>
            <th scope="col">Facturación</th>
            <th scope="col" *ngIf="isAdmin || isSupervisor">Opciones</th>
          </tr>
        </thead>
        <tbody *ngIf="Clientes.length > 0">
          <tr *ngFor="let cliente of Clientes">
            <th scope="row">{{ cliente.id }}</th>
            <td>
              {{ cliente.nombreCompleto }}
            </td>
            <td>
              {{ cliente.nombreEmpresa }}
            </td>
            <td>
              <div
                class="pointer"
                (click)="editardiacobro(cliente, diasCobroEditar)"
              >
                <span [innerHTML]="cliente.dias_cobro"></span>
              </div>
            </td>
            <td>{{ cliente.direccion_casa }}</td>
            <td>
              <div class="d-flex flex-direction">
                <div
                  class="mr-3"
                  ngbTooltip="{{ cliente.categoria.descripcion }}"
                >
                  <ng-container *ngIf="isAdmin || isSupervisor">
                    <span>({{ cliente.categoria.tipo }}) </span>
                    <a
                      [routerLink]="[
                        '/categoria',
                        'editar',
                        cliente.categoria_id
                      ]"
                    >
                      <i class="fas fa-chart-line"></i>
                    </a>
                  </ng-container>
                  <ng-container *ngIf="!isAdmin && !isSupervisor">
                    <span>({{ cliente.categoria.tipo }}) </span>
                    <i class="fas fa-chart-line"></i>
                  </ng-container>
                </div>
              </div>
            </td>
            <td>
              <span>{{ cliente.saldo | currency : "USD" }}</span>
            </td>
            <td>
              <a
                target="_blank"
                [routerLink]="['/cliente', 'productos', cliente.id]"
                >Ver</a
              >
            </td>
            <td>
              <a
                target="_blank"
                [routerLink]="['/cliente', 'estado-cuenta', cliente.id]"
                >Ver detalle</a
              >
            </td>
            <td>
              <div *ngIf="cliente.usuario">
                {{ cliente.usuario.name }} {{ cliente.usuario.apellido }}
              </div>
              <div *ngIf="!cliente.usuario">No tiene un usuario asignado</div>
            </td>
            <!-- <td>
              <div class="d-flex flex-direction">
                <ng-container>
                  <div class="mr-3" *ngIf="cliente.frecuencia">
                    <i class="fas fa-stopwatch"></i>
                    <span
                      >({{ cliente.frecuencia.dias }}
                      dias)
                    </span>
                  </div>
                  <div class="mr-3" *ngIf="!cliente.frecuencia">
                    <span> - </span>
                  </div>
                </ng-container>
              </div>
            </td> -->
            <td>
              <div class="d-flex flex-direction">
                <div
                  *ngIf="cliente.facturas.length > 0"
                  class="mr-3"
                  ngbTooltip="Facturas"
                >
                  <a [routerLink]="['/cliente', 'factura', cliente.id]"
                    ><i class="fas fa-receipt"></i
                  ></a>
                </div>
                <div
                  *ngIf="cliente.facturas.length == 0"
                  class="mr-3"
                  ngbTooltip="No posee facturas"
                >
                  -
                </div>
              </div>
            </td>
            <td>
              <div class="d-flex flex-direction">
                <div class="mr-3" ngbTooltip="Editar">
                  <a [routerLink]="['/cliente', 'editar', cliente.id]"
                    ><i class="fas fa-pencil-alt text-warning"></i
                  ></a>
                </div>
                <div
                  class="mr-3"
                  ngbTooltip="Eliminar"
                  *ngIf="isAdmin && cliente.estado == 1"
                >
                  <span
                    class="text-danger pointer"
                    role="button"
                    (click)="eliminar(cliente)"
                    ><i class="fas fa-trash-alt"></i
                  ></span>
                </div>
                <div
                  class="mr-3"
                  ngbTooltip="Eliminar"
                  *ngIf="isAdmin && cliente.estado == 0"
                >
                  <span
                    class="text-danger pointer"
                    role="button"
                    (click)="eliminar(cliente)"
                    ><i class="fas fa-undo-alt"></i
                  ></span>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="Clientes.length == 0">
          <tr>
            <td colspan="9">
              <div
                class="container d-flex align-items-center justify-content-center"
              >
                <!-- <div class="alert alert-info w-100 text-center" > -->
                <h5>No existen Clientes</h5>
                <!-- </div> -->
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li
              class="page-item"
              *ngFor="let listado of listadoData.links"
              (click)="newPage(listado)"
              [ngClass]="{
                active: listado.active,
                disabled: listado.url == null
              }"
            >
              <span class="page-link pointer">
                <span aria-hidden="true" [innerHTML]="listado.label"></span>
              </span>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #contentEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <!-- <div class="row">
      <div class="col-md-6">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            value="true"
            [(ngModel)]="allDates"
          />
          <label class="form-check-label" for="flexCheckDefault"> Todos </label>
        </div>
      </div>
    </div> -->
    <div class="row">
      <!-- <div class="col-md-6">
        <div class="form-group">
          <p class="font-weight-bold">Desde</p>
          <input
            [disabled]="allDates"
            type="date"
            class="form-control"
            [(ngModel)]="dateIni"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <p class="font-weight-bold">Hasta</p>
          <input
            [disabled]="allDates"
            type="date"
            class="form-control"
            [(ngModel)]="dateFin"
          />
        </div>
      </div> -->
      <div class="col-md-6">
        <p class="font-weight-bold">Categorías</p>
        <select name="" id="" class="form-control" [(ngModel)]="categoriaId">
          <option value="0">Todas las categorías</option>
          <option
            *ngFor="let categoria of categorias"
            [selected]="categoria.id == categoriaId"
            [value]="categoria.id"
          >
            {{ categoria.tipo }}
          </option>
        </select>
      </div>
      <div class="col-md-6" *ngIf="isAdmin || isSupervisor">
        <p class="font-weight-bold">Usuarios</p>
        <select name="" id="" class="form-control" [(ngModel)]="userId">
          <option value="0">Todos los usuarios</option>
          <option
            *ngFor="let usuario of userStore"
            [selected]="usuario.id == userId"
            [value]="usuario.id"
          >
            {{ usuario.name }} {{ usuario.apellido }}
          </option>
        </select>
      </div>
      <div class="col-md-6 mt-3" *ngIf="isAdmin">
        <p class="font-weight-bold">Estado</p>
        <select name="" id="" class="form-control" [(ngModel)]="estado">
          <option value="2">Todos</option>
          <option value="0">Eliminados</option>
          <option value="1">No eliminados</option>
        </select>
      </div>
      <div class="col-md-6 mt-3">
        <p class="font-weight-bold">Días de cobro</p>
        <div class="d-flex flex-wrap" id="diasCobrosElement">
          <div *ngFor="let day of _HelpersService.DaysOfTheWeek" class="mr-3">
            <input
              type="checkbox"
              [value]="day"
              class="mr-1"
              (change)="changeDiasCobros($event.target)"
              [checked]="existeDiaDeCobroEnFiltro(day)"
            />
            <label [innerHTML]="cortarLetrasYMayuscula(day, 0, 3)"></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="limpiarFiltros()">
          Limpiar <i class="fas fa-eraser"></i>
        </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="aplicarFiltros(true)">
          Aplicar <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #diasCobroEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">
        Edición de días de cobro
      </h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <label class="d-block"
          >Días de cobro <span class="text-danger">(*)</span></label
        >
        <div class="list-group list-group-light flex-row flex-wrap" >
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="1"

              [id]="'diaCobro1'"
              (click)="ChangediaCobro(1,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro1'  }}"
              >Lunes</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="2"

              [id]="'diaCobro2'"
              (click)="ChangediaCobro(2,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro2'  }}"
              >Martes</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="1"
   
              [id]="'diaCobro3'"
              (click)="ChangediaCobro(3,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro3'  }}"
              >Miércoles</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="1"

              [id]="'diaCobro4'"
              (click)="ChangediaCobro(4,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro4'  }}"
              >Jueves</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="1"

              [id]="'diaCobro5'"
              (click)="ChangediaCobro(5,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro5'  }}"
              >Viernes</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="6"

              [id]="'diaCobro6'"
              (click)="ChangediaCobro(6,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro6'  }}"
              >Sábado</label
            >
          </div>
          <div class="list-group-item border-0">
            <input
              class="form-check-input me-1 pointer"
              type="checkbox"
              [value]="0"

              [id]="'diaCobro0'"
              (click)="ChangediaCobro(0,$event.target)"
            />
            <label
              class="form-check-label pointer"
              for="{{ 'diaCobro0'  }}"
              >Domingo</label
            >
          </div>
          
          <!-- <ng-container *ngFor="let day of daysOfWeek; let i = index" >
            <div class="list-group-item border-0">
              <input
                class="form-check-input me-1 pointer"
                type="checkbox"
                [value]="i"
                [checked]="IsChecked(day,diasCobrosSelected)"
                [id]="'diaCobro' + i"
                (click)="ChangediaCobro(lisCobros)"
              />
              <label
                class="form-check-label pointer"
                for="{{ 'diaCobro' + i }}"
                >{{ day }}</label
              >
            </div>
          </ng-container>  -->
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="modal.dismiss('Cross click')">
          Cancelar 
        </button>
        <button class="btn btn-primary" (click)="modificarDiasdeCobro()">
          Modificar 
        </button>
      </div>
    </div>
  </div>
</ng-template>
