<div [hidden]="loadInfo">
  <br />
  <form [formGroup]="FormTalonario" class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label>Mínimo</label>
        <input
          type="text"
          class="form-control"
          name="min"
          formControlName="min"
          autocomplete="off"
          [ngClass]="{
            'is-invalid':
              getControl('min').invalid && getControl('min').touched,
            'is-valid': getControl('min').valid
          }"
          appOnlyNumbers
        />
        <div *ngIf="getControlError('min') as error">
          <app-valid-error-messages-form
            [errors]="error"
            [messages]="GastoErrorMessages.min"
          ></app-valid-error-messages-form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label>Máximo</label>
        <input
          type="text"
          class="form-control"
          name="max"
          formControlName="max"
          autocomplete="off"
          appOnlyNumberAndPoint
          [ngClass]="{
            'is-invalid':
              getControl('max').invalid && getControl('max').touched,
            'is-valid': getControl('max').valid
          }"
        />
        <div *ngIf="getControlError('max') as error">
          <app-valid-error-messages-form
            [errors]="error"
            [messages]="GastoErrorMessages.max"
          ></app-valid-error-messages-form>
        </div>
      </div>
    </div>
  </form>

  <hr class="mt-4 mb-4" />
  <div class="row">
    <div class="update ml-auto mr-auto">
      <button
        type="submit"
        class="btn btn-primary btn-round"
        [disabled]="!isValidForm"
        (click)="EnviarFormulario()"
      >
        <div *ngIf="Gasto">Actualizar</div>
        <div *ngIf="!Gasto">Agregar</div>
      </button>
    </div>
  </div>
</div>

<div [hidden]="!loadInfo" class="container-fluid p-5">
  <div class="d-flex justify-content-center align-content-center">
    <span>
      Cargando Talonario
      <i class="fas fa-circle-notch fa-spin"></i>
    </span>
  </div>
</div>
