ngb-pagination .pagination {
  flex-wrap: wrap;
}

.sweet-alert-blur {
  background-color: rgba(81, 203, 206, 0.3) !important;
  backdrop-filter: blur(10px);
}

.pointer {
  cursor: pointer !important;
}

.form-check input.form-check-input {
  opacity: 1;
  position: static;
  visibility: visible;
  margin-left: 0px;
}

.form-check .form-check-label {
  padding-left: 10px;
}
