<div class="row">
  <!-- <div class="col-md-12">
    <button class="btn btn-primary" (click)="openFiltros(contentEditar)">Filtros <i class="fas fa-filter"></i></button>
  </div> -->
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'recuperacion-mensual']"
      role="button"
      style="background-color: #eb5836"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 ajustar-altura px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.recuperacionMensual.recuperacionPorcentaje }}%
              </span>
              <span class="data-2 text-white">
                {{
                  response.recuperacionMensual.abonosTotalLastMount
                    | currency : "USD"
                }}
                |
                {{
                  response.recuperacionMensual.recuperacionTotal
                    | currency : "USD"
                }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #d44e35"
            >
              Recuperación Mensual
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'cartera']"
      role="button"
      style="background-color: #fc9c0aa3"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.cartera.total | currency : "USD" }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #fc9c0a"
            >
              Cartera
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'recuperacion']"
      role="button"
      style="background-color: #eb5836"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.recuperacion.total | currency : "USD" }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #d44e35"
            >
              Recuperación
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'mora30-60']"
      role="button"
      style="background-color: #fd32c2"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.mora30_60 | currency : "USD" }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #e72daa"
            >
              Mora 30-60
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'mora60-90']"
      role="button"
      style="background-color: #fd32c2"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.mora60_90 | currency : "USD"  }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #e72daa"
            >
              Mora 60-90
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'clientes-nuevos']"
      role="button"
      style="background-color: #00b0f4"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.clientesNuevos.length }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #009edd"
            >
              Clientes nuevos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'incentivos']"
      role="button"
      style="background-color: #00915a"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 ajustar-altura px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.incentivos.porcentaje20 | currency : "USD"}}
              </span>
              <!-- <span class="data-2 text-white">
                {{ response.incentivos.total | currency : "USD" }}
                |
                {{ response.incentivos.recibo.recibo_historial.length }}
              </span> -->
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #01804d"
            >
              Incentivos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="isSupervisor || isAdmin">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'incentivos-supervisor']"
      role="button"
      style="background-color: #00915a"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 ajustar-altura px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white">
                {{
                  response.incentivosSupervisor
                    .totalFacturaVendedores2Porciento +
                    response.incentivosSupervisor.totalRecuperacionVendedores
                    | currency : "USD"
                }}
              </span>
              <!-- <span class="data-2 text-white">
                {{
                  response.incentivosSupervisor.totalFacturaVendedores2Porciento
                    | currency : "USD"
                }}
                |
                {{
                  response.incentivosSupervisor.totalRecuperacionVendedores
                    | currency : "USD"
                }}
                |
                {{ response.incentivosSupervisor.dataVendedores.length }}
              </span> -->
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #008351"
            >
              Incentivos Supervisor
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'clientes-inactivos']"
      role="button"
      style="background-color: #00b0f4"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.clientesInactivos.length }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #009edd"
            >
              Clientes Inactivos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'clientes-reactivados']"
      role="button"
      style="background-color: #00b0f4"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.clientesReactivados.length }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #009edd"
            >
              Clientes Reactivados
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer ">
        <hr>
        <div class="stats">
          <i class="fa fa-refresh"></i> Update Now
        </div>
      </div> -->
    </div>
  </div>
  <div class="col-md-4">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'ventas']"
      role="button"
      style="background-color: #eb3160"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 ajustar-altura px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.ventasMeta.meta }}%
              </span>
              <span class="data-2 text-white">
                {{ response.ventasMeta.total | currency : "USD" }}
                |
                {{ response.ventasMeta.meta_monto | currency : "USD" }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #d42858"
            >
              Ventas
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="isSupervisor || isAdmin">
    <div
      class="card card-stats"
      [routerLink]="['/logistica', 'productos-vendedores']"
      role="button"
      style="background-color: #dbdc42"
    >
      <div class="card-body">
        <div class="row" *ngIf="!isLoad; else spinnerTemplate">
          <div class="col-md-12 px-0">
            <div class="ajustar-altura">
              <span class="data-1 w-100 d-block text-white"
                >{{ response.productosVendidos.totalProductos }}
              </span>
            </div>
            <div
              class="text-center rounded-bottom py-1 text-white font-weight-bold"
              style="background-color: #dcce2d"
            >
              Productos Vendidos
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #contentEditar let-modal>
  <div class="modal-header">
    <div>
      <h4 class="modal-title m-0" id="modal-basic-title">Filtros</h4>
    </div>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <p class="font-weight-bold">Desde</p>
          <input type="date" class="form-control" [(ngModel)]="dateIni" />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <p class="font-weight-bold">Hasta</p>
          <input type="date" class="form-control" [(ngModel)]="dateFin" />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer justify-content-center w-100">
    <div class="row w-100">
      <div class="col text-center">
        <button class="btn btn-danger" (click)="limpiarFiltros()">
          Limpiar <i class="fas fa-eraser"></i>
        </button>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" (click)="aplicarFiltros()">
          Aplicar <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #spinnerTemplate>
  <div class="loading-spiner text-white">
    <i class="fas fa-circle-notch fa-spin text-white"></i>
  </div>
</ng-template>
