<div class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4 class="mt-3"><b>Carrito</b></h4>
                    </div>
                    <div class="col align-self-center text-right text-muted">{{productos.length}} items</div>
                </div>
            </div>
            <div
                *ngIf="productos.length > 0"
            >
                <div 
                    class="row border-top border-bottom" 
                    *ngFor="let producto of productos; let i = index"
                    [ngClass]="{'border-top': i % 2 == 0,'border-bottom': i % 2 == 0}"    
                >
                    <div class="row main align-items-center">
                        <div class="col">
                            <div class="row text-muted">{{ producto.nombre}}</div>
                            <div class="row">{{ producto.descripcion}}</div>
                        </div>
                        <div class="col"> 
                            <span *ngIf="producto.cantidad > 1">{{producto.cantidad}} Uds.</span>
                            <span *ngIf="producto.cantidad == 1">{{producto.cantidad}} Ud.</span>
                        </div>
                        <div class="col"> 
                            {{producto.precio  | currency: 'USD' }} 
                            <span (click)="deleteProduct(producto)" class="close"><i class="text-danger fas fa-trash-alt"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div
            class="text-center"
                *ngIf="productos.length == 0"
            >
                <span>No hay productos en el carrito</span>
            </div>


            <div class="back-to-shop" >
                <span (click)="backClicked()" role="button" class="text-muted"><i class="fas fa-angle-left"></i> Volver atrás</span>
            </div>
        </div>
        <div class="col-md-4 summary">
            <div>
                <h5><b>Factura</b></h5>
            </div>
            <hr>
            <!-- <div class="row">
                <div class="col" style="padding-left:0;">ITEMS 3</div>
            </div> -->
            <form>
                <div class="form-group">
                    <p class="font-weight-bold">Cliente <span class="text-danger">(*)</span></p>
                    <select
                      class="form-control"
                      name="cliente"
                      autocomplete="off"
                    >
                      <option selected value="0" hidden>Seleccione un cliente</option>
                      <option class="text-muted">Rigo Gallo</option>
                      <option class="text-muted">Rigo Gallo</option>
                      <option class="text-muted">Rigo Gallo</option>
                      <!-- <option *ngFor="let cliente of Clientes" value="{{ cliente.id}}">{{ cliente.nombreCompleto }} - {{ cliente.nombreEmpresa }}</option> -->
      
                    </select>
                </div>
                <p class=" font-weight-bold">Vendedor</p> 
                <span class="d-block mb-4">Alejandro Sanchez (colocar user)</span>
                <!-- <p class="font-weight-bold">GIVE CODE</p> 
                <input id="code" placeholder="Enter your code"> -->
            </form>
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col font-weight-bold">TOTAL PRICE</div>
                <div class="col text-right font-weight-bold"> {{factura.monto | currency: 'USD'}}</div>
            </div> 
            <button class="btn btn-primary">Generar Factura</button>
        </div>
    </div>
</div>