<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4 class="mt-3"><b>Carrito</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted">
            {{ productos.length }} items
          </div>
        </div>
      </div>
      <div *ngIf="productos.length > 0">
        <div
          class="row border-top border-bottom"
          *ngFor="let producto of productos; let i = index"
          [ngClass]="{ 'border-top': i % 2 == 0, 'border-bottom': i % 2 == 0 }"
        >
          <div class="row main align-items-center">
            <div class="col">
              <div class="row text-muted">{{ producto.nombre }}</div>
              <div class="row">{{ producto.descripcion }}</div>
            </div>
            <div class="col">
              <span *ngIf="producto.cantidad > 1"
                >{{ producto.cantidad }} Uds.</span
              >
              <span *ngIf="producto.cantidad == 1"
                >{{ producto.cantidad }} Ud.</span
              >
            </div>
            <div class="col">
              {{ producto.precio | currency : "USD" }}
              <span (click)="deleteProduct(producto)" class="close"
                ><i class="text-danger fas fa-trash-alt"></i
              ></span>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center" *ngIf="productos.length == 0">
        <span>No hay productos en el carrito</span>
      </div>

      <div class="back-to-shop">
        <span (click)="backClicked()" role="button" class="text-muted"
          ><i class="fas fa-angle-left"></i> Volver atrás</span
        >
      </div>
    </div>
    <div class="col-md-4 summary">
      <div>
        <h5><b>Factura</b></h5>
      </div>
      <hr />
      <div class="form-group">
        <p class="font-weight-bold">
          Cliente <span class="text-danger">(*)</span>
        </p>
        <input
          id="typeahead-focus"
          type="text"
          class="form-control"
          name="cliente"
          [(ngModel)]="cliente"
          (ngModelChange)="dataChangedCliente($event)"
          [ngbTypeahead]="search"
          [placement]="['top-left']"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          #instance="ngbTypeahead"
        />
      </div>
      <div class="form-group" *ngIf="clienteSelected">
        <p class="font-weight-bold">
          Categoria: {{ clienteData.categoria.tipo }}
        </p>

        <p class="font-weight-bold">
          Frecuencia de pago:
        </p>
        <select
          class="form-control"
          name="frecuencia"
          autocomplete="off"
          (change)="cambiarFrecuencia($event.target)"
        >
          <option selected value="0" hidden>
            Seleccione la frecuencia de su pago
          </option>
          <option
            *ngFor="let frecuencia of frecuenciaFacturas"
            [value]="frecuencia.dias"
          >
            {{ frecuencia.descripcion }}
          </option>
        </select>
        <p class="font-weight-bold">Fecha Vencimiento</p>
        <input
          type="date"
          [readOnly]="!(isAdmin || isSupervisor)"
          class="form-control"
          [(ngModel)]="date"
        />
      </div>
      <p class="font-weight-bold">Vendedor</p>
      <span class="d-block mb-4">
        {{ userData.nombre }} {{ userData.apellido }}</span
      >
      <div
        class="form-group"
        style="border-top: 1px solid rgba(0, 0, 0, 0.1); padding: 2vh 0"
        *ngIf="factura.monto"
      >
        <p class="font-weight-bold">Operación de pago: Credito</p>

        <!-- <select
          class="form-control"
          name="tipo_venta"
          autocomplete="off"
          (change)="cambiarValores($event.target)"
        >
          <option selected value="0" hidden>
            Seleccione la operación de pago
          </option>
          <option
            class="text-muted"
            value="1"
            [selected]="factura.tipo_venta == 1"
          >
            Credito
          </option>
          <option
            class="text-muted"
            value="2"
            [selected]="factura.tipo_venta == 2"
          >
            Contado
          </option>
        </select> -->
        <br />
        <p
          *ngIf="factura.tipo_venta == 2 && factura.tipo_venta"
          class="font-weight-bold"
        >
          Numero de Recibo:
          <b>{{ numeroRecibo == 0 ? "Sin numero asignado" : numeroRecibo }}</b>
        </p>
        <div class="d-flex justify-content-between">
          <div class="font-weight-bold">Precio total</div>
          <div class="text-right font-weight-bold">
            {{ factura.monto | currency : "USD" }}
          </div>
        </div>
        <button
          class="btn btn-primary"
          [disabled]="!isValidForm()"
          (click)="generarfactura()"
        >
          Generar Factura
        </button>
      </div>
    </div>
  </div>
</div>
